@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-family: "Open Sans",sans-serif ;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

body{
  background-color: #D9D9D9;
  background-size: cover;
}

main{
  padding: 40px;
  background-color:#F5F4F0 ;
  border-color:black;
  width: 1280px;
  padding: 80px;
  border-radius: 80px;
  box-sizing: border-box;
  margin: 48px auto 25px;
}

.Subtitulo{
  font-style: italic;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
}

#Destinos{
  padding-top: 64px;
  padding-bottom: 64px;
}

h1{
  line-height: 30px ;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
  color:#1B1B1B ;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color:#1B1B1B ;
}

h3{
  font-size: 28px;
  font-weight: bold;
  color:#1B1B1B;
  padding-top: 20px;
  padding-left: 1%;
  line-height: 4px;
}

h4{
  font-size: 16px;
  line-height: 8px;
  font-weight: bold;
  color: #e1624f;
  text-transform: uppercase;
}
.subtittle{
  font-size: 16px;
  font-weight: bold;
}
ul{
  color: #0C51A7;
  font-weight: bold;
  font-size: 16px
}

img{
  border-radius: 28px;
  width: 100%;
}

.divider{
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
.descripition p{
font-weight: normal;
text-align: center;
font-size: medium;
padding-top: 40px;
}

#rodape footer{
  text-align: center;
  font-weight: bold;
  padding-top: 65px;
  padding-bottom: 48px;
}