@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-family: "Open Sans",sans-serif ;
}

body{
  background-color: #F5F4F0;
  border-color: #D9D9D9;
  background-size: cover;
  width: 1280px;
  padding: 80px;
  border-radius: 80px;
  box-sizing: border-box;
  margin: 48px auto 25px;
}

main{
  padding: 40px;
}

footer{
  font-style: italic;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
}

#Destinos{
  padding-top: 64px;
  padding-bottom: 64px;
}

h1{
  line-height: 30px ;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
  color:#1B1B1B ;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color:#1B1B1B ;
}

h3{
  font-size: 28px;
  font-weight: bold;
  color:#1B1B1B ;

}

h4{
 font-size: 16px;
  line-height: 8px;
  font-weight: bold;
  color: #e1624f;
  text-transform: uppercase;
}

p{
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

img{
  border-radius: 28px;
   width: 100%;
}
